/* GLOBAL ========================*/
:root {
  --dark-blue: #363f5f;
  --light-green: #49aa26;
  --dark-green: #2d4a22;
  --light-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/* TITLES ========================*/
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);

  font-weight: normal;
}

/* HEADER ========================*/
header {
  background: var(--dark-green);
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: var(--light-white);
  font-weight: 100;
}

/* BALANCE ========================*/
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: var(--light-white);
  margin-top: 0;
}

/* CARDS ========================*/
.card {
  background: var(--light-white);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;

  margin-bottom: 2rem;

  color: var(--dark-blue);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;

  margin-top: 1rem;
}

.card.total {
  background: var(--light-green);
  color: var(--light-white);
}

/* TABLE ========================*/
#data-table {
  width: 100%;
}

/* FOOTER ========================*/
footer {
  text-align: center;
}
